
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-top: 4rem;
  text-align: center; 
}

.header-image {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
}

.header-title {
  color: #2c2c2c;
  font-size: 1.3em;
}

.header-subtitle {
  font-size: medium;
  color: #505050;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 2em;
  }
}
