
.perfil {
	background-color: #aaa;
	border-radius: 50%;
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
}

.perfil img {
	position: absolute;
	bottom: 0;
	width: 100%;
}

p {
	font-family: sans-serif;

}

h1 {
	font-family: sans-serif;
}