/*-------Setup Basic----------*/

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
    color: #444;
    
}

/*-------Background Hero----------*/

.hero-img{
    background: url(../img/jovany.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0.2);

}
.hero-btn, .works-btn{
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #B53471;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(237, 76, 103,0.6);
    transition: 0.25s linear;
    
}
.hero-btn:hover{
    background-color: #ED4C67;
}

/*----------TOP NAV--------------*/
.topnav{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.360);
	border: 1px solid rgba(0,0,0,0.360);
	border-radius: 6px 6px 0 0;
	position: sticky;
	top: 0;
    background-color: #222;
    margin: 0 60px;
}
.topnav ul{
	padding: 0;
	margin: 0;
	overflow: auto;
    list-style-type: none;
    text-align: center;
    margin: auto;
}
.topnav li{
	display: inline-block; 
}

.topnav .right{
	float: right;
}
.topnav li a{
	display: inline-block;
	padding: 14px 16px;
	transition: all 0.3s ease;
	color: #fff;
	text-decoration: none;
}
.topnav li a:hover{
	background-color: #f1f1f1;
	color: #111;
}


/*-------Def 2 Column----------*/
.container{
    margin: 20px 60px;
}

.col-70{
    width: 70%;
    float: left;
   
    
}
.col-30{
    width: 30%;
    float: left;
}
.row{
    padding: 7px  6px;
}
/*-------For fix problem with float----------*/

.clearfix::after{
    content: " ";
    clear: both;
    display: table;
}

/*-------Style card----------*/
.card{
    background-color: #fff;
    padding: 12px;
}
.shadow{
    box-shadow: 0 0.5px 3px 0 rgba(0,0,0,0.360);
}

/*-------Section Skills----------*/

.skills{
    margin-bottom: 18px;
}
.skills span{
    background-color: dimgrey;
    border-radius: 43px;
    padding: 4px 8px;
    font-size: 14px;
    color: #fff;
    box-shadow: 2px 4px 8px 2px rgba(237, 76, 103,0.1);
}



/*--------Image POst------*/
.imgpost img{
    max-width: 100%;
    height: auto;
}


/*-------For set img in About me----------*/

/*.about-me img{
    width: 100%;
    background-size: contain;
    border-radius: 5px;
    margin-bottom: 5px
}*/

/*-------Style Text----------*/

.about-me-text{
    line-height: 1.5;
    margin: 18PX 8px;
}
.col-70 .about-me-text{
     text-rendering: geometricPrecision;
     text-align: justify;
}

.title-post{
    color: #666;
}
.title-post:hover{
    text-decoration: none;
}

/*-------iCON----------*/

.icon-big{
    font-size: 45px;
    text-shadow: 2px 2px 4px rgba(0,0,0.2); 
    color: #fff;

}

/*-------Section Work----------*/

.work{
    padding: 8px;
    margin-bottom: 25px;
}
.work-p{
    padding: 12px;
}
.works-btn{
    border: 2px solid #B53471;
    color: #B53471;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(237, 76, 103,0.6);
}
.works-btn:hover{
    color: #fff;
    background-color: #ED4C67;
    border-color: #ED4C68;
    
}

.link-work{
    width: 30.8%;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 2px 8px 16px 3px rgba(0,0,0,0.2);
    padding: 12px 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #444;
    margin: 0;
    margin-left: 12px;
    border-radius: 8px;
    border-bottom: 4px solid #B53471;
    border-top: 4px solid #B53471;
    transition: 0.2s linear;
}
.link-work:hover{
     box-shadow: 0 3px 6px 0 rgba(237, 76, 103,0.7);
}


.column-work p{
    padding: 0 8px;
    text-align: left;
    line-height: 1.4;
}


/*-------Social Media----------*/

.link-social{
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    padding-bottom: 18px;
}


.link-social li{
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    text-align: center;
}

.link-social li a{
    padding: 5px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0.2);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(237, 76, 103,0.3);
    transition: 0.25s linear;
}

.link-social li a:hover{
  transform: translate(-6px, -5px);
    background-color: #ED4C67;
}


/*-------Section Contact----------*/

.contact{
    margin: 0;
    display: block; 
    margin-bottom: 20px;
}

.col-contact{
    margin: auto;
    width: 31.999%;
    display: inline-block;
    text-align: center;
}


/*-------FOOTER----------*/

.footer{
    margin-top: 30px;
   
}
.card-footer{
    padding: 20px;
    color: #fff;
    background-color: #B53471;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(237, 76, 103,0.6);
}

.dev{
    font-size: 14px;
    color: #ccc;
}
.dev a{
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}
.dev a:hover{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}


/*-------Media Query----------*/

@media screen and (max-width: 920px){
     .works-btn, .col-contact, .container{
        margin: 10px 0;
        width: 100%;    
    }
    .link-work{
        width: 48%;
        margin: 8px 5px;
        font-size: 16px;
    }
    .work-p{
        padding: 0;
        margin: 0 20px
    }
}

@media screen and (max-width: 848px){
     .link-work{
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
        
    }
}

@media screen and (max-width: 668px) {
    .col-70, .col-30, .link-work{
        width: 100%;
    }
    .link-work{
        margin: 0;
        margin-bottom: 16px;
    }


}

@media screen and (max-width: 397px){


    .topnav li{
        display: block;
    }

}